<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Inter-VariableFont_opsz,wght.ttf</string>
		<string>NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
	</array>
</dict>
</plist>
