node_modules/
.env
.DS_Store
Shoppe.xcodeproj/project.xcworkspace/xcuserdata/daniilpavlenko.xcuserdatad/UserInterfaceState.xcuserstate
Shoppe.xcodeproj/xcuserdata/daniilpavlenko.xcuserdatad/xcschemes/xcschememanagement.plist
